<% if @current_user.present? && @current_user.admin == true%>
<div class="eight columns">


<% @missing_people_without_date.each do |p| %>
 <span class="block">
   <%= image_tag(p.image, class: 'indeximage') %>
   <ul>
     <li> <%= p.first_name %> <%= p.last_name %> </li>
     <li>Location last seen: <%= p.location %></li>
     <li><%= p.sex %></li>
     <li><%= p.age %></li>
   </ul>

   <%= link_to 'Show', missing_person_path(p) %>
   <%= link_to 'Edit', edit_missing_person_path(p) %>
   <%= link_to 'Destroy', missing_person_path(p), method: :delete, data: { confirm: 'Are you sure?' } %>

   </span>
   <% end %>
<% end %>
<%= will_paginate @missing_people_without_date %>
</div>
