
<h1>New Missing Person</h1>

<%= form_for(@missing_person, remote: true) do |f| %>

  <span class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </span>
  <span class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </span>
  <span class="field">
    <%= f.label :date %>
    <%= f.datetime_select :date %>
  </span>
  <span class="field">
    <%= f.label :middle_name %>
    <%= f.text_field :middle_name %>
  </span>
  <span class="field">
    <%= f.label :nickname %>
    <%= f.text_field :nickname %>
  </span>
  <span class="field">
    <%= f.label :sex %>
    <%= f.text_field :sex %>
  </span>
  <span class="field">
    <%= f.label :location %>
    <%= f.text_area :location %>
  </span>
  <span class="field">
    <%= f.label :island %>
    <%= f.text_field :island %>
  </span>
  <span class="field">
    <%= f.label :longitude %>
    <%= f.text_field :longitude %>
  </span>
  <span class="field">
    <%= f.label :latitude %>
    <%= f.text_field :latitude %>
  </span>
  <span class="field">
    <%= f.label :height %>
    <%= f.text_field :height %>
  </span>
  <span class="field">
    <%= f.label :weight %>
    <%= f.text_field :weight %>
  </span>
  <span class="field">
    <%= f.label :ethnicity %>
    <%= f.text_field :ethnicity %>
  </span>
  <span class="field">
    <%= f.label :age %>
    <%= f.number_field :age %>
  </span>
  <span class="field">
    <%= f.label :image %>
    <%= f.text_area :image %>
  </span>
  <span class="field">
    <%= f.label :hair_color %>
    <%= f.text_field :hair_color %>
  </span>
  <span class="field">
    <%= f.label :eye_color %>
    <%= f.text_field :eye_color %>
  </span>
  <span class="field">
    <%= f.label :information %>
    <%= f.text_area :information %>
  </span>

  <span class="field">
    <%= f.label :circumstances %>
    <%= f.text_area :circumstances %>
  </span>

  <span class="actions">
    <%= f.submit "Create" %>
  </span>
<% end %>

