<!-- <h1>Editing Missing Person</h1>

<%= render 'form' %>

<%= link_to 'Show', @missing_person %> |
<%= link_to 'Back', missing_people_path %> -->


<div class="five colmuns">
<%= form_for(@missing_person) do |f| %>
<%= render 'form' %>
<% end %>
</div>


</div>
