<div class="eleven columns" id="search">
  <h1>Missing Person Database for Hawaii</h1>
  <%= form_tag missing_people_path, :method => 'get' do %>
  <h4>Search</h4>
  <%= text_field_tag :search, params[:search] %>
  <input type="radio" name="sex" value="male"> Male
  <input type="radio" name="isex" value="Female"> Female</br>

  <input type="checkbox" name="island" value="maui"> Maui
  <input type="checkbox" name="island" value="oahu"> O'ahu
  <input type="checkbox" name="island" value="big_island"> Big Island
  <input type="checkbox" name="island" value="lanai"> Lanai
  <input type="checkbox" name="island" value="molokai"> Moloka'i
  <input type="checkbox" name="island" value="kauai"> Kaua'i</br>

  <%= submit_tag "Search" %>
  <% end %>
</div>
<div class="row">

   <div class="one-half column">
     <div class="info">

     <% @missing_people.each do |missing_person| %>
     <span class="block list">
     <%= image_tag(missing_person.image, class: 'indeximage') %>
     <ul>
       <li> <%= missing_person.first_name %> <%= missing_person.last_name %> </li>
       <li>Date last seen: <%= missing_person.date.strftime("%m/%d/%Y") %></li>
       <li>Location last seen: <%= missing_person.location %></li>
       <li><%= missing_person.sex %></li>
       <li><%= missing_person.age %></li>
     </ul>
     <%= link_to 'Show', missing_person_path(missing_person) %>
     </span>
     <% end %>
     <%= will_paginate @missing_people %>
   </div>
</div>
   <div class="one-half column" id="indexmap">


      <div id="map">
        <script>
                var mapOptions = {
                center: new google.maps.LatLng(20.8027683, -157.618187),
                zoom: 7
                };

                var handler = Gmaps.build('Google');
                handler.buildMap({ provider: mapOptions, internal: {id: 'map' }}, function(){
                markers = handler.addMarkers(<%=raw @hash.to_json %>)

                });

        </script>
      </div>


   </div>
 </div>
