 <div class="row">
 <div class="large-12 colums">
  <div class="row">


<div class="small-1 columns">
<% if  @current_user.present? %>
        <button type="button" name="button">
  <%= link_to '<', missing_person_path(@prev), class: 'prev' %>
        </button>
        <% end %>
</div>
  <div class="large-4 columns">

    <%= image_tag(@missing_person.image, class: 'showimage') %>
    <div id="showmap">
      <script>
              var mapOptions = {
              center: new google.maps.LatLng(<%= @missing_person.latitude %>, <%= @missing_person.longitude %>),
              zoom: 10
              };

              var handler = Gmaps.build('Google');
              handler.buildMap({ provider: mapOptions, internal: {id: 'showmap' }}, function(){
              markers = handler.addMarkers(<%=raw @hash.to_json %>)

              });

      </script>
    </div>
    

  </div>
    
  <div class="large-5 columns" id="resource_index">
        <p><b>Name:</b>
        <%= @missing_person.first_name %>
        <%= @missing_person.last_name %><br />
        </p>
          <p><b>Middle name:</b>
          <%= @missing_person.middle_name %><br />
          <b>Nickname:</b>
          <%= @missing_person.nickname %><br />
          </p>
      <p><b>Sex:</b>
        <%= @missing_person.sex %><br />
        </p>
        <p><b>Date last seen:</b>
        <%= @missing_person.date.strftime("%m/%d/%Y") %><br />
        </p>
        <p><b>Location last seen:</b>
        <%= @missing_person.location %><br />
        </p>
        <p><b>Age last seen:</b>
        <%= @missing_person.age %><br />
        </p>
        <p><b>Island:</b>
        <%= @missing_person.island %><br />
        </p>
        <p><b>Eye color:</b>
        <%= @missing_person.eye_color %><br />
        </p>

        <p><b>Ethnicity:</b>
        <%= @missing_person.ethnicity %><br />
        </p>
        <p><b>Height:</b>
        <%= @missing_person.height %><br />
        </p>
        <p><b>Weight:</b>
        <%= @missing_person.weight %><br />
        </p>
        <p><b>Longitude:</b>
        <%= @missing_person.longitude %><br />
        </p>
        <p><b>Latitude:</b>
        <%= @missing_person.latitude %><br />
        </p>
        <p><b>Link:</b>
        <%= @missing_person.link %><br />
        </p>
        <p><b>Circumstances:</b>
        <%= @missing_person.circumstances %><br />
        </p>
      <% if  @current_user.present? %>
        <button type="button" name="button">
        <%= link_to 'Edit', edit_missing_person_path(@missing_person) %>
        </button>
        <% end %>
      </div>

      <div class="small-1 columns">
      <% if  @current_user.present? %>
        <button type="button" name="button">
    <%= link_to '>', missing_person_path(@next), class: 'next' %>
        </button>
        <% end %>
        
      </div>
    
    <div class="small-6 columns" id="social">
      <% if @missing_person.link == nil %>
      <%= image_tag('noimage.png', height: '400', width: '300') %>
      <% else %>
      <iframe src="<%= (@missing_person.link) %>" width="340" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
      <% end %>

    </div>

   
    </div>
    </div>