<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @missing_person.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @missing_person.last_name %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @missing_person.sex %>
</p>

<p>
  <strong>Location:</strong>
  <%= @missing_person.location %>
</p>

<p>
  <strong>Island:</strong>
  <%= @missing_person.island %>
</p>

<p>
  <strong>Height:</strong>
  <%= @missing_person.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @missing_person.weight %>
</p>

<p>
  <strong>Image:</strong>
  <%= @missing_person.image %>
</p>

<p>
  <strong>Eye color:</strong>
  <%= @missing_person.eye_color %>
</p>

<p>
  <strong>Information:</strong>
  <%= @missing_person.information %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @missing_person.middle_name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @missing_person.nickname %>
</p>

<p>
  <strong>Date:</strong>
  <%= @missing_person.date %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @missing_person.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @missing_person.latitude %>
</p>

<p>
  <strong>Ethnicity:</strong>
  <%= @missing_person.ethnicity %>
</p>

<p>
  <strong>Age:</strong>
  <%= @missing_person.age %>
</p>

<p>
  <strong>Circumstances:</strong>
  <%= @missing_person.circumstances %>
</p>

<%= link_to 'Edit', edit_missing_person_path(@missing_person) %> |
<%= link_to 'Back', missing_people_path %>
