<p id="notice"><%= notice %>
<div class="row">
  <div class="showinfo">

    <%= link_to 'Prev', missing_person_path(@prev) %>
    <%= image_tag(@missing_person.image, class: 'showimage') %>
<button type="button" name="button">
  <% if  @current_user.present? %>
    <%= link_to 'Edit', edit_missing_person_path(@missing_person) %>
    <% end %>
</button>
    <div id="map">
      <script>
              var mapOptions = {
              center: new google.maps.LatLng(<%= @missing_person.latitude %>, <%= @missing_person.longitude %>),
              zoom: 10
              };

              var handler = Gmaps.build('Google');
              handler.buildMap({ provider: mapOptions, internal: {id: 'map' }}, function(){
              markers = handler.addMarkers(<%=raw @hash.to_json %>)

              });

      </script>
    </div>
<%= link_to 'Next', missing_person_path(@next) %>
</div>
<div class="five columns">
  <strong>Name: </strong>
  <%= @missing_person.first_name %>
  <%= @missing_person.last_name %><br />
    <strong>Middle name: </strong>
    <%= @missing_person.middle_name %><br />
    <strong>Nickname:</strong>
    <%= @missing_person.nickname %><br />
<strong>Sex: </strong>
  <%= @missing_person.sex %><br />
  <strong>Date last seen: </strong>
  <%= @missing_person.date.strftime("%m/%d/%Y") %><br />

  <strong>Location last seen: </strong>
  <%= @missing_person.location %><br />

  <strong>Age last seen: </strong>
  <%= @missing_person.age %><br />

  <strong>Island: </strong>
  <%= @missing_person.island %><br />

</div>


<div class="five columns">

  <strong>Eye color:</strong>
  <%= @missing_person.eye_color %><br />


  <strong>Ethnicity:</strong>
  <%= @missing_person.ethnicity %><br />

  <strong>Height:</strong>
  <%= @missing_person.height %><br />

  <strong>Weight:</strong>
  <%= @missing_person.weight %><br />

  <strong>Longitude:</strong>
  <%= @missing_person.longitude %><br />

  <strong>Latitude:</strong>
  <%= @missing_person.latitude %><br />

  <strong>Information:</strong>
  <%= @missing_person.information %><br />

  <strong>Circumstances:</strong>
  <%= @missing_person.circumstances %><br />
</div>
<div class="five columns" id="social">
<iframe src="<%= (@missing_person.link) %>" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
</div>
  </div>
</div>
