<p id="notice"><%= notice %>
<div class="row">
  <div class="showinfo">

    <%= link_to '<', missing_person_path(@prev), class: 'prev' %>
    <%= image_tag(@missing_person.image, class: 'showimage') %>
    <% if  @current_user.present? %>
<button type="button" name="button">

    <%= link_to 'Edit', edit_missing_person_path(@missing_person) %>

</button>
  <% end %>
    <div id="map">
      <script>
              var mapOptions = {
              center: new google.maps.LatLng(<%= @missing_person.latitude %>, <%= @missing_person.longitude %>),
              zoom: 10
              };

              var handler = Gmaps.build('Google');
              handler.buildMap({ provider: mapOptions, internal: {id: 'map' }}, function(){
              markers = handler.addMarkers(<%=raw @hash.to_json %>)

              });

      </script>
    </div>
<%= link_to '>', missing_person_path(@next), class: 'next' %>
</div>
<div class="five columns content">
  <p>Name:
  <%= @missing_person.first_name %>
  <%= @missing_person.last_name %><br />
  </p>
    <p>Middle name:
    <%= @missing_person.middle_name %><br />
    Nickname:
    <%= @missing_person.nickname %><br />
    </p>
<p>Sex:
  <%= @missing_person.sex %><br />
  </p>
  <p>Date last seen:
  <%= @missing_person.date.strftime("%m/%d/%Y") %><br />
</p>
  <p>Location last seen:
  <%= @missing_person.location %><br />
</p>
  <p>Age last seen:
  <%= @missing_person.age %><br />
</p>
  <p>Island:
  <%= @missing_person.island %><br />
</p>
</div>


<div class="five columns content">

  <strong>Eye color:</strong>
  <%= @missing_person.eye_color %><br />


  <strong>Ethnicity:</strong>
  <%= @missing_person.ethnicity %><br />

  <strong>Height:</strong>
  <%= @missing_person.height %><br />

  <strong>Weight:</strong>
  <%= @missing_person.weight %><br />

  <strong>Longitude:</strong>
  <%= @missing_person.longitude %><br />

  <strong>Latitude:</strong>
  <%= @missing_person.latitude %><br />

  <strong>Information:</strong>
  <%= @missing_person.information %><br />

  <strong>Circumstances:</strong>
  <%= @missing_person.circumstances %><br />
</div>
<div class="five columns" id="social">
<iframe src="<%= (@missing_person.link) %>" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
</div>
  </div>
</div>
