<div class="large-12 columns" id=resource_landing>
      <div class="container">
  <div class="row align-center">


<div class="small-1 columns">
<% if  @current_user.present? %>
        <button type="button" name="button">
  <%= link_to '<', missing_person_path(@prev), class: 'prev' %>
        </button>
        <% end %>
</div>
  <div class="small-12  medium-6 large-5 columns" id="showinfo">
  <h1 class="showname">
        <%= @missing_person.first_name %>
        <%= @missing_person.last_name %>
    </h1>


    <%= image_tag(@missing_person.image, class: "float-center showimage") %>
   
    

  </div>
    <div class="small-12  medium-6 large-6 columns" id="showinfo">

       <div id="showmap" class="float-center showimage">
      <script>
              var mapOptions = {
              center: new google.maps.LatLng(<%= @missing_person.latitude %>, <%= @missing_person.longitude %>),
              zoom: 10
              };

              var handler = Gmaps.build('Google');
              handler.buildMap({ provider: mapOptions, internal: {id: 'showmap' }}, function(){
              markers = handler.addMarkers(<%=raw @hash.to_json %>)

              });

      </script>
    </div>
  </div>
  <div class="small-12 medium-6 large-11 columns" id="showinfo">
  <div class="row align-center">
  <div class="small-12 medium-3 large-4 columns">
        <li><b>Name:</b>
        <%= @missing_person.first_name %>
        <%= @missing_person.last_name %><br />
        </li>
          <li><b>Middle name:</b>
          <%= @missing_person.middle_name %><br />
          <b>Nickname:</b>
          <%= @missing_person.nickname %><br />
          </li>
      <li><b>Sex:</b>
        <%= @missing_person.sex %><br />
        </li>
        <li><b>Date last seen:</b>
        <%= @missing_person.date.strftime("%m/%d/%Y") %><br />
        </li>
        <li><b>Location last seen:</b>
        <%= @missing_person.location %><br />
        </li>
        <li><b>Age last seen:</b>
        <%= @missing_person.age %><br />
        </li>
        <li><b>Island:</b>
        <%= @missing_person.island %><br />
        </li>
        <li><b>Eye color:</b>
        <%= @missing_person.eye_color %><br />
        </li>
</div>
<div class="small-12 medium-3 large-6 columns">
        <li><b>Ethnicity:</b>
        <%= @missing_person.ethnicity %><br />
        </li>
        <li><b>Height:</b>
        <%= @missing_person.height %><br />
        </li>
        <li><b>Weight:</b>
        <%= @missing_person.weight %><br />
        </li>
        <li><b>Longitude:</b>
        <%= @missing_person.longitude %><br />
        </li>
        <li><b>Latitude:</b>
        <%= @missing_person.latitude %><br />
        </li>
        <li><i class="fi-social-facebook"></i>
        <%= @missing_person.link %><br />
        </li>
        <li><b>Circumstances:</b>
        <%= @missing_person.circumstances %><br />
        </li>
      <% if  @current_user.present? %>
        <button type="button" name="button">
        <%= link_to 'Edit', edit_missing_person_path(@missing_person) %>
        </button>
        <% end %>
        </div>
        </div>
      </div>
        
      <div class="small-1 columns">
      <% if  @current_user.present? %>
        <button type="button" name="button">
    <%= link_to '>', missing_person_path(@next), class: 'next' %>
        </button>
        <% end %>
        
      </div>
    
    <div class="small-6 columns" id="social">
      <% if @missing_person.link == nil %>
      <%= image_tag('noimage.png', height: '400', width: '300') %>
      <% else %>
      <iframe src="<%= (@missing_person.link) %>" width="340" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
      <% end %>

    </div>

   
    </div>
    </div>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90306123-1', 'auto');
  ga('send', 'pageview');

</script>