  <div class="large-12 columns" id="bar">
    <ul class="vertical medium-horizontal menu" id="navlist">

      <li><%= link_to 'First 24 Hours', firsthours_path, :remote => true %></li>
    <li><%= link_to 'Report a Missing Person', ramp_path, :remote => true %></a></li>
      <li><%= link_to 'First 48 Hours', firstdays_path, :remote => true %></li>
      <li><%= link_to 'Second Week', secondweek_path, :remote => true %></li>

      <li><%= link_to 'First Month', firstmonth_path, :remote => true %></li>
      <li><%= link_to 'Third Month', thirdmonth_path, :remote => true %></a></li>
      <li><%= link_to 'Sixth Month', sixthmonth_path, :remote => true %></a></li>
      <li><%= link_to 'First Year', firstyear_path, :remote => true %></a></li>
    </ul>
    
</div>

  <div id="data_content">
    <div class="large-12 columns">
      <div class="text-jusify">
      <%= render 'ramp' %>

    <!-- <h4>What is this for?</h4>
    <p>
      Nobody should have to experience the nightmare of having a loved one go missing, but when it does happen, what do you do? Where do you go for help? This resource page was created to give you tips and information on what to do and not to do, as well as provide contact information for help.
    </p>
    <h4>Reporting a Missing Person</h4>
    <p>
     Do not wait to report a person missing! Here are several things to have when you file the report:
      <li>Have the person's full name(nickname and aliases), birthday, contact info such as phone number and address, and if they have a car what type it is and if it has been located yet. The more information you have on the person to make the police report the better. </li>
      <li>When were they last seen or heard from? Do they have any medical conditions? are on any medications or have any handicaps. The police will usually ask these questions to see if there are any psychological issues or medical emergencies.</li>
      <li>If known what they were wearing last and possessions they might have on them, jewelry, a hair clip. Also any known marks, scars, tattoos and any other identifying characteristics.</li>
      <li>Any details of where they work or go to school and information of family, friends associated with frequently, phone numbers help.</li>
    </p>
    <h4>Keep Notes</h4>
    <p>
      After you file the missing person report write down the police report number as well as the officer that you spoke to.
      <li>Try to RECORD EVERYTHING if you can from talking to to the police to other people on the phone.</li>
      <li>Keep a log of everyone you speak to from the moment you file a missing person report. This includes officers, media, friends and family.</li>
      <li>You can call the hospital and jail yourself to see if they have been arrested or injured, the police will do this as protocol but for peace of mind do it yourself as well.</li>
      None of these tips are set in stone, but the more information you have the faster the process will be for filing the missing person report.
    </p>
    <h4>DON'T</h4>
    <li>Delay in searching. Time can be of the essence.</li>
    <li>Keep their disappearance a secret, the more people you tell, the more people you have looking for them. Social Media is greta for this</li>
    <li>Wait - if missing person is vulnerable, notify the police as soon as you think something is wrong.</li>
    <li>Move or touch any of their belongings, don't clean their bedroom or touch their stuff until the police have gone through it.</li>
    <li>Put your own telephone numbers or address on posters or advertisments, to avoid hoaxes - use the police or missing person hotline numbers.</li>
 -->
  </div>
  </div>
  </div>
  <div class="footer">
  <div class="full-width">
    <div class="small-12 medium-3 large-4 columns">
      <i class="fi-laptop"></i>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum maiores alias ea sunt facilis impedit fuga dignissimos illo quaerat iure in nobis id quos, eaque nostrum! Unde, voluptates suscipit repudiandae!</p>
    </div>
    <div class="small-12 medium-3 large-4 columns">
      <i class="fi-html5"></i>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit impedit consequuntur at! Amet sed itaque nostrum, distinctio eveniet odio, id ipsam fuga quam minima cumque nobis veniam voluptates deserunt!</p>
    </div>
    <div class="small-6 medium-3 large-2 columns">
      <h4>Work With Me</h4>
      <ul class="footer-links">
        <li><a href="#">What I Do</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">FAQ's</a></li>
      <ul>
    </div>
    <div class="small-6 medium-3 large-2 columns">
      <h4>Connect</h4>
      <ul class="footer-links">
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Donate</a></li>
      <ul>
    </div>
  </div>
  </div>
