  
<div class="large-12 columns" id="bar">
    <ul class="vertical medium-horizontal menu" id="navlist">
      <li><%= link_to 'County', county_path, :remote => true %></li>
      <li><%= link_to 'Media', media_path, :remote => true %></li>
      <li><%= link_to 'Search and Rescue', sar_path, :remote => true %></li>
      <li><%= link_to 'Law Enforcement', law_enforcement_path, :remote => true %></li>
      <li><%= link_to 'Federal Agencies', fed_path, :remote => true %></li>
    </ul> 
</div>
<div id="contact_content" class="row">

<%= render 'county' %>
</div>
<div class="footer">
  <div class="full-width">
    <div class="small-12 medium-3 large-4 columns">
      <i class="fi-laptop"></i>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum maiores alias ea sunt facilis impedit fuga dignissimos illo quaerat iure in nobis id quos, eaque nostrum! Unde, voluptates suscipit repudiandae!</p>
    </div>
    <div class="small-12 medium-3 large-4 columns">
      <i class="fi-html5"></i>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit impedit consequuntur at! Amet sed itaque nostrum, distinctio eveniet odio, id ipsam fuga quam minima cumque nobis veniam voluptates deserunt!</p>
    </div>
    <div class="small-6 medium-3 large-2 columns">
      <h4>Work With Me</h4>
      <ul class="footer-links">
        <li><a href="#">What I Do</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">FAQ's</a></li>
      <ul>
    </div>
    <div class="small-6 medium-3 large-2 columns">
      <h4>Connect</h4>
      <ul class="footer-links">
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Donate</a></li>
      <ul>
    </div>
  </div>
  </div>
