  
<div class="large-12 columns" id="bar">
    <ul class="vertical medium-horizontal menu" id="navlist">
      <li><%= link_to 'County', county_path, :remote => true %></li>
      <li><%= link_to 'Media', media_path, :remote => true %></li>
      <li><%= link_to 'Search and Rescue', sar_path, :remote => true %></li>
      <li><%= link_to 'Law Enforcement', law_enforcement_path, :remote => true %></li>
      <li><%= link_to 'Federal Agencies', fed_path, :remote => true %></li>
    </ul> 
</div>
<div id="contact_content" class="row">

<%= render 'county' %>
</div>

